* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.counterDiv {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.counterDiv * {
    display: flex;
    gap: 20px;
}

.total {
    margin-top: 20px;
}